<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Display Python Variable</title>
</head>
<body>
    

    <form action="/process_form" method="post" id="form" >

            <input type="text" id="Message" name="Message" placeholder="What's on your mind?"><br><br>
    </form>

    <p><pre>{{ msg }} </pre></p>

    

        
</body>
</html>  
